#include <windows.h>
#include "resource.h"

DLG1 DIALOG DISCARDABLE  0, 0, 121, 76
STYLE DS_MODALFRAME | WS_POPUP
CAPTION "エディットボックス"
FONT 9, "MS Shell Dlg"
{
	EDITTEXT        IDC_EDIT1, 7, 13, 104, 14, ES_AUTOHSCROLL
	LTEXT			"" , IDC_LABEL1 ,7,35,140,14
	DEFPUSHBUTTON   "OK", IDOK, 7, 55, 50, 14
	PUSHBUTTON      "ｷｬﾝｾﾙ", IDCANCEL, 64, 55, 50, 14
}
